[2017-02-03 11:56] truemetal opened #3 "appleIncRootCertificateNotFound"
Hi, I get this issue if install via cocoapods as described

[code]
It goes away, though, if I manually copy `AppleIncRootCertificate.cer` to my project and include it to my target

Thanks

[2017-02-03 17:38] tikhop commented on #3
Hi, thanks for letting me know. I will take a look shortly.

[2017-02-05 03:13] tikhop commented on #3
@truemetal Hey, I couldn't reproduce the issue. I've made a fresh project, installed the pod and I can see that certificate inside the framework's bundle.

Cocoapod 1.1.1

What's your version of cocoapod?

[2017-02-05 09:55] truemetal commented on #3
@tikhop the described error happens in runtime, when I try to execute this line:
`let receipt = try InAppReceiptManager.shared.receipt()`

yes, my cocoapods version is 1.1.1

[2017-02-05 10:01] tikhop commented on #3
@truemetal Yeah, I'm also testing in runtime. Moreover, this error can't happen when you execute that line. It seems that you have an old version of the library, because I throw this error only if you try to validate the receipt.

[2017-02-06 16:06] truemetal commented on #3
@tikhop you're right, I've had outdated pod version. This podfile:
[code]

Produced this `Podfile.lock`:
[code]

After `pod update` everything is fine. Thank you.

[2017-02-06 16:06] #3 closed

[2017-02-06 22:29] tikhop commented on #3
Cool.

Make sure that verification process used to be a part of initialization process. However, since version 1.0 you have to execute this line `try receipt.verify()` in order to validate the receipt.

[2017-02-12 11:17] tikhop opened #5 "Improve initialization process"
Create a static method inside `InAppReceipt`class to initialize a local receipt.

Since we are using the singleton manager we can keep an once created receipt and every time we access that receipt we can compare a hash of a local receipt and that one we have created before; if it's needed - create a new instance of local receipt.

[2017-02-12 11:17] tikhop opened #6 "Carthage support"

[2017-02-12 11:19] tikhop opened #7 "SwiftPM Support"
Support Swift Package Manager

[2017-08-31 06:39] NameX44 opened #14 "EXC_BAD_ACCESS on receiptData method"
Hi,

I've got a problem recently on InAppReceiptManager :

`
        guard let receiptUrl = Bundle.main.appStoreReceiptURL,
            FileManager.default.fileExists(atPath: receiptUrl.path) else
        {
            throw IARError.initializationFailed(reason: .appStoreReceiptNotFound)
        }
`

this guard let give me an EXC_BAD_ACCESS and i don't understand why. So I've got this exception fr

[2017-08-31 06:58] tikhop commented on #14
Hi,

I'll check it out in a few hours.

Thank you.

[2017-08-31 12:30] rpitting opened #15 "EXEC_BAD_ACCESS in subscriptionExpirationDate"
I just got an`fatal error: unexpectedly found nil while unwrapping an Optional value` for this code:

[code]

This is caused by accessing an `InAppPurchase` an expired subscription (date-string is empty).

[2017-10-08 11:25] tikhop commented on #15
@rpitting Just pushed a new version with a fix.

Thank you.

[2017-10-08 11:25] #15 closed

[2017-10-08 11:27] tikhop commented on #14
@NameX44 Hi, I tried to reproduce your issue and I couldn't.

Let me know if you are still facing this issue, maybe you can provide me your receipt (Data object).

Thank you.

[2017-10-21 20:34] joaocolaco opened #16 "Support for macOS 10.12"
Hi
Thanks for the new release.

As a suggestion, can you make the Deployment Target in the macOS target 10.12 and not 10.13. I don't see any issue in supporting that version.

[2017-10-21 20:40] tikhop commented on #16
Hi,

Yeah, I agree. Will do it tomorrow.

Thanks.

[2017-12-20 09:08] diederikh commented on #16
@tikhop Any outlook on when there will be a new release with a 10.12 target?

Thanks

[2018-01-19 17:09] tikhop commented on #16
I'm sorry, It took longer than I expected.

[2018-01-19 17:09] #16 closed

[2018-01-19 17:10] #14 closed

[2018-02-11 20:21] ovdm opened #17 "openssl as a module file not correct"
If I include TPInAppReceipt in my main file, the main file works fine. However if I compile my Test target, Swift will now try to include and compile openssl for the Test target and I get the error
"...Pods/TPInAppReceipt/Vendor/OpenSSL/include/openssl/bio.h:62:11: 'openssl/e_os2.h' file not found" for all the swift files in my Test target.

My suspicion is that the Pods/TPInAppRceipt/Vendor/OpenS

[2018-05-22 09:51] b-onc commented on #17
Having the same issue and is driving me crazy.

[2018-06-10 21:13] NameX44 opened #18 "Check free trial"
Hi,

I don’t find a way to check if free trial on a auto renew subscription has been done or is in progress.

Could we add is_trial_period var in receipt ?

Thanks

[2018-06-20 10:35] joaocolaco opened #19 ""Undefined symbols for architecture x86_64" in Xcode 10"
HI,

I'm testing an app that uses TPInAPPReceipt for MacOS with Xcode 10 beta, and getting an error "Undefined symbols for architecture x86_64", referencing TPInAPPReceipt when archiving my app, that I doesn't happen when running with a Debug configuration.

I've check Build Settings without finding anything to justify this error. Do you have any ideas?

Thanks

[2018-06-20 21:21] joaocolaco commented on #19
Found the problem and made a pull request.

[2018-06-22 12:55] #19 closed

[2018-06-27 07:39] shaktiprakash099 opened #21 "how to use this in objective c"

[2018-09-25 08:22] georgbachmann opened #22 "How to test during debugging?"
Stupid question... but do you have any idea how I can debug while testing?
What I'd need to figure out is the original version the user has ever installed of my app. So there's the `receipt.originalAppVersion` property. But how can I test that when I am debugging my app? Cause with Xcode attached, the receipt from the App Store is gone, right?

[2019-01-11 12:17] svatrous commented on #17
Same issue

[2019-05-20 13:32] neilt opened #23 "Swift 5 support?"
Is there any plan for an update to remove the public modifier warnings shown in Xcode 10.2.1?

[2019-05-20 13:34] tikhop commented on #23
@neilt I can try to do it quickly during the week

[2019-05-20 13:35] neilt commented on #23
No problem, it is not a show stopper, but I had not seen any update in a while was just wondering.

[2019-06-20 08:07] chnbr opened #24 "Prepare for UIKitForMacOS"
If I use the project with  the new "Mac"-target provided in Xcode-11-beta I get the following error:

**ld: in ...../Pods/TPInAppReceipt/Vendor/OpenSSL/iOS/libcrypto.a(tasn_typ.o), building for UIKitForMac, but linking in object file built for iOS Simulator, for architecture x86_64**

Clearly this comes from the pre-compiled SSL libraries which are shipped as binary. How can we integrate the SSL l

[2019-06-21 21:35] chrisvanbuskirk commented on #24
I believe it will need an xcframework.  A thread to read below.

https://forums.developer.apple.com/thread/117229

[2019-06-23 14:47] tikhop commented on #18
Hi,

Based on apple's docs. There is no way to have this property while parsing receipt locally.

[code]

[2019-06-23 14:48] #18 closed

[2019-06-23 14:48] #6 closed

[2019-06-23 14:48] #5 closed

[2019-06-24 07:27] b-onc commented on #17
@tikhop Can you prioritize this, please?

[2019-06-24 11:41] tikhop commented on #17
@b-onc Yes. I've just had a chance to try it on osx and I'm able to reproduce it. I haven't tried to use it via pod tho.

fyi - I've been working on improving the library and I'm trying to substitute openssl functionality with a custom solution. Currently, parsing a receipt works well without openssl.

If you use the library only to parse (not validate) in-app receipt. I can break the lib on two (

[2019-06-25 09:48] b-onc commented on #17
@tikhop I see that you have an `openssl` branch, I've tried that and it solved our problems (our issues are not the same as described in this issue). Can we use keep using that branch?

As per your question, yes we're only using TPInAppReceipt for parsing the receipt, not validating. Splitting the pod into two smaller pods would work for our use case.

[2019-06-26 02:36] tikhop commented on #17
@b-onc Ha, magic. I don't think I have fixed anything there.

I've pushed `develop` branch and all parsing there is happening w/o openssl. I will do some testing and release it within this week.

P

[2019-06-26 14:30] tikhop commented on #24
@chnbr Hello, thank you for posting your issue. I'm currently working on removing openssl from the project and, if you check `develop` branch, you will notice that openssl is being used only for certificate validation. I'm planning to roll out a new release within this week which will work w/o linking openssl (only if you need parsing a basic validation). There will be another pod with openssl inc

[2019-06-26 14:36] tikhop commented on #23
@neilt Hello, sorry for a delay, I've been working on removing openssl and substituting it with own parser. I will push it today as a new release. Migration on Swift 5 will be included.

[2019-06-26 14:39] tikhop commented on #22
@georgbachmann I don't think I understand your question. If you want to debug you can put a breakpoint inside your app (in xCode) wherever you want, even inside this library, and investigate anything you'd like to: variable, raw memory value, etc...

[2019-06-26 14:39] #22 closed

[2019-06-26 14:40] tikhop commented on #21
@shaktiprakash099 Still a problem?

[2019-06-26 15:11] georgbachmann commented on #22
The question was about how you can test receipt validation, as there is no real receipt during testing in sandbox. At least the `originalAppVersion` will alway be a dummy one... But never mind. I already tested it enough.. (issue is quite old anyway...)

[2019-06-26 20:01] tikhop commented on #23
New version with swift 5+ support has been released

[2019-06-26 20:01] #23 closed

[2019-06-26 20:04] tikhop commented on #24
Just released a new version without using OpenSSL.

[2019-06-26 20:05] tikhop commented on #17
New version with a fix has been released

[2019-06-26 20:05] #17 closed

[2019-06-26 23:19] neilt commented on #23
Thanks.

[2019-06-27 23:53] tikhop commented on #24
@chnbr I assume that the issue has been fixed. Let me know if you have any problems...

[2019-06-27 23:53] #24 closed

[2019-06-28 00:52] tikhop commented on #7
https://github.com/tikhop/TPInAppReceipt/commit/4ad1f74fac00107fc9e1d2f979996ee80cda35ed

[2019-06-28 00:52] #7 closed

[2019-06-28 06:46] chnbr commented on #24
Thank you very much for your work, much appreciated. The complier can't find InAppReceipt.localReceipt().verify() anymore. Is this the function that is temporarily disabled or did you rename it to verifyHash() ?

[2019-06-28 14:39] tikhop commented on #24
@chnbr It's been removed, since the current (cocoapod) version only verifies receipt's hash. Last developer version (master branch) contains additional verification processes. I will bring that function back in the next release.

[2019-06-28 17:30] tikhop commented on #24
@chnbr FYI, `InAppReceipt.localReceipt().verify()' is available again in the last dev version (master branch)

If you use it thru cocoapods you just need `pod 'TPInAppReceipt', :git => 'https://github.com/tikhop/TPInAppReceipt.git', :branch => :master`

[2019-07-01 02:09] gnaseri opened #25 "Value of type 'UnsafePointer<_>' has no member 'baseAddress' in Data+Extension.Swift"
Hello,

Thanks for the TPInAppReceipt pod.

I was  TPInAppReceipt in my project for local receipt validation and it was working fine till today that I updated pods. After updating, I get a "Value of type 'UnsafePointer<_>' has no member 'baseAddress'"  error in Data+Extension.Swift file:

[code]

Any help or solutions would be appreciated.
I am using Swift 4.2.

Thanks.

[2019-07-01 10:07] tikhop commented on #25
@gnaseri Are you using it for iOS or OSX? Can you try to compile it with swift 5.0 (I think you can select swift version only for this pod).

P

[2019-07-01 18:43] gnaseri commented on #25
tikhop Thanks for your reply.

It's for ios. I don't have Swift 5 in "Build Settings" of my project to be able to compile my project with Swift 5.0. I have not migrated to swift 5 yet (because migrating to Swift 5 may cause lots of delay in publishing my app since it first needs upgrading Xcode from 10.1 to 10.2 and therefore, upgrading my Laptop's OS, and it may also causes errors in many other p

[2019-07-01 19:22] tikhop commented on #25
@gnaseri I hear you! Actually, I've tried to compile the project with swift 4.2 and it's working well. I will try to do the same for iOS project and using cocoapods.

[2019-07-01 19:59] tikhop commented on #25
@gnaseri Just tried to create new iOS project add `TPInAppReceipt` as a pod, changed swift version everywhere to 4.2 and it's working. Which iOS SDK are you using?

[2019-07-01 20:00] tikhop commented on #25
@gnaseri Could you please try to instal the pod using this line:

`pod 'TPInAppReceipt', :git => 'https://github.com/tikhop/TPInAppReceipt.git', :branch => :master`

it will use the last code from master brunch which doesn't include that problematic piece of code.

P

[2019-07-01 22:41] gnaseri commented on #25
Thank you vary much for your prompt reply and suggestion. After installing the pod using your line of code and also doing the following change in "ASN1Object+Sequence.swift"  it compiled successfully, but has after opening the app for the second time, it has the "Unexpectedly found nil while unwrapping an Optional value" error for "let payload = ASN1Object(data: asn1Data)"  code in "InAppReceiptPa

[2019-07-09 14:18] teologov opened #26 "Usage with SwiftyStoreKit?"
Hi! Thanks for your work on this library. I'd like to use it together with `SwiftyStoreKit`.

Could you please add a very brief description of how to implement a validator which conforms to `ReceiptValidator` protocol from SwiftyStoreKit?

[2019-07-11 08:12] weizenberg opened #27 "InAppReceipt.localReceipt() - Crashed!"
Hello,
The lib crashing at the 2.0.6 version for some users. Attaching the crash log:

0 | TPInAppReceipt | $s10Foundation4DataV15_RepresentationOyACSnySiGcigTf4xn_n + 672
-- | -- | --
1 | TPInAppReceipt | $s14TPInAppReceipt10ASN1ObjectV13extractLenght4fromAC6LengthO10Foundation4DataVz_tKFZTf4nd_n + 280
2 | TPInAppReceipt | $s14TPInAppReceipt10ASN1ObjectV11isDataValid14checkingLength_S2b_10Foundat

[2019-07-11 12:34] tikhop commented on #27
@weizenberg Thanks for reporting,
I will upload a fix on cocoapods in a bit.

[2019-07-11 12:35] tikhop commented on #27
@weizenberg while it's being publishing you can try the last version
`pod 'TPInAppReceipt', :git => 'https://github.com/tikhop/TPInAppReceipt.git', :branch => :master`

[2019-07-14 23:27] chrisvanbuskirk opened #28 "Validation issue"
`        #if os(iOS) || os(watchOS) || os(tvOS)
        guard let v = Bundle.main.infoDictionary?["CFBundleShortVersionString"] as? String,
            v == originalAppVersion else
        {
            throw IARError.validationFailed(reason: .bundleVersionVefirication)
        }
`

Should be CFBundleVersion and compared to appVersion not originalAppVersion.

[2019-07-15 16:41] tikhop commented on #28
@chrisvanbuskirk thank you.

Fixed.

[2019-07-15 16:41] #28 closed

[2019-07-15 16:42] tikhop commented on #27
Version 2.1.0 has been released. It should contain a fix.

[2019-07-15 16:44] tikhop commented on #26
@teologov Hi! I'm sorry, I've just noticed your comment here. I'll get back to you shortly with a brief description.

[2019-07-16 06:42] teologov commented on #26
Hi @tikhop, no worries. I've already implemented the solution, and it's working fine. I can help to improve a readme and provide an example based on my code.

[2019-07-17 09:29] chrisvanbuskirk opened #29 "lastAutoRenewableSubscriptionPurchase"
This might be more productive.  Not an issue, but a possible feature for your eval.  It only takes the productIdentifier and returns the last purchase for it.

[code]

[2019-07-17 09:33] chrisvanbuskirk commented on #28
Thanks for fixing...however, you might want to address the Mac side, which I believe is CFBundleShortVersionString instead.  Also, might be appVersion not originalAppVersion.

[2019-07-17 10:05] tikhop commented on #26
@teologov Cool, thank you. Yeah, if you have a chance.

[2019-07-17 10:07] tikhop commented on #28
@chrisvanbuskirk thanks again. Just made a fix, pushing in a bit.

[2019-07-17 10:12] tikhop commented on #29
@chrisvanbuskirk should be available in the following update. Thanks for your contribution.

[2019-07-17 10:12] #29 closed

[2019-07-17 12:39] tikhop commented on #25
@gnaseri You can stick with an old version of the lib, if you are using cocoapods just install an old version < 2.0.0

[2019-07-17 12:39] #25 closed

[2019-07-17 20:56] teologov commented on #26
Ok, sure. I'll try to find some time and compose a working example this
weekend. I'll submit a PR once it's ready.

ср, 17 июл. 2019 г. в 13:05, Pavel Tikhoneko <notifications@github.com>:

[2019-07-22 07:18] b-onc commented on #27
Hello @tikhop , thank you for your hard work!
We're at the latest version (2.1.2) and we get random crashes at
`let receipt = try InAppReceipt.localReceipt()`. We couldn't reproduce them yet. We're symbolicating crashes and will get you missing symbols ASAP. In the meantime, can you make anything from this log?

[code]

[2019-07-22 10:31] tikhop commented on #27
Hello @b-onc, thanks for posting an issue. I'll take a look in a bit. Meanwhile, is there a chance that you can provide your receipt in order to debug it?

[2019-07-22 10:39] tikhop commented on #27
@b-onc I've push some fix which may solve your issue. Can you try to instal pod from `master` branch:

`pod 'TPInAppReceipt', :git => 'https://github.com/tikhop/TPInAppReceipt.git', :branch => :master`

Thank you.

[2019-07-22 14:35] b-onc commented on #27
Thank you for the quick response, @tikhop . We're trying the master branch and will get back to you as soon as we have more info. We'll try to provide receipt data too.

[2019-07-22 15:09] tikhop commented on #27
@b-onc Sounds good. Thank you!

[2019-07-22 19:30] b-onc commented on #27
Hello @tikhop !
We are trying to write a unit test to check if some of the receipts we have are being correctly parsed by the pod. The base64encoded receipt I'll add below crashes at `InAppReceiptPayload:76` with error `Unexpectedly found nil`, the `type` property of `InAppReceiptAttribute` is `nil`. This is not the crash we're seeing in the wild, although I don't know why it happens. Can you plea

[2019-07-22 19:43] tikhop commented on #27
@b-onc pushed a fix

[2019-07-23 00:48] tikhop commented on #27
@b-onc I've released a new version and been using it for some time for my current project — seems to be working well.

Does the last fix work for you?

[2019-07-23 00:49] tikhop commented on #26
@teologov sounds good, let me know if you need any help.

[2019-07-23 06:42] b-onc commented on #27
Hello @tikhop ,
I'm testing the latest version you've pushed, and it's crashing for the receipts I'll attach below. `InAppReceiptPayload:93`, `Could not cast value of type 'TPInAppReceipt.ASN1Object' (0x10dcb2038) to 'Foundation.Data' (0x1128d34f8).`

Receipts:
http://dpaste.com/3JD4KKG

[2019-07-23 10:19] tikhop commented on #27
Hello @b-onc,

Thanks for providing more receipts. I was able to reproduce the issue and It has been fixed in the last commit and release.

I have checked all your receipts and mine too — works well.

Thanks again.

[2019-07-23 10:39] b-onc commented on #27
Hello @tikhop
All 2309 receipts we have parse correctly with the latest release (2.1.2) This can be closed now.

Thank you for all the help!

[2019-07-23 10:43] tikhop commented on #27
@b-onc Awesome! Thanks for collaborating, helped a lot.

[2019-07-23 10:43] #27 closed

[2019-07-28 21:26] chrisvanbuskirk opened #30 "Hash verification failing in 2.2.1"
FYI...verifyHash is now failing in 2.2.1

[2019-07-31 17:08] chrisvanbuskirk commented on #30
What I mean by failing is that the receipt hash is not equaling the generated hash.  It worked in 2.1.2...now not.

[2019-08-07 13:45] CheslauBachko opened #31 "isRenewableSubscription always return true?"
ASN1-reader

`
@inlinable
    static func readString(from data: inout Data, _ l: Int, encoding: String.Encoding) -> String
    {
        return String(data: data, encoding: encoding) ?? ""
    }
`

parse

`
           case .subscriptionExpirationDate:
                    subscriptionExpirationDateString = ASN1.readString(from: &value, encoding: .ascii)
`

InAppPurchase

`
 var isRenewableSubscript

[2019-08-08 03:08] tikhop commented on #31
Hello @CheslauBachko, thanks for reporting this. I will push a fix in a bit.

[2019-08-08 05:57] tikhop commented on #31
Hello @CheslauBachko,

Just pushed an update which contains the fix.

Thanks again.

[2019-08-08 05:57] #31 closed

[2019-08-08 05:58] tikhop commented on #30
@chrisvanbuskirk thanks for letting me know. Just pushed a fix.

[2019-08-08 05:58] #30 closed

[2019-08-08 16:19] tikhop commented on #26
Hi @teologov, hope you are doing well. I've been working on my own project where I'm using `SwiftyStoreKit` and my lib. Basically, `SwiftyStoreKit` is just for working with store kit and when I'm done, I'm using my lib to verify and see if user can have an access to a specific content (in addition to our server validation, since apple highly recommended to validate receipt with apple on backend si

[2019-08-09 04:56] teologov commented on #26
Hi @tikhop, the last couple of weeks I was preparing my app to the App Store release, and due to the deadline, unfortunately, I haven't had a chance to work on any other tasks. Sorry about that.

I have implemented the working solution by building an extra layer, where I work with `SwiftyStoreKit` and `InAppReceipt` being used as a local validator.

Please, see my solution [here](https://gist.gith

[2019-08-13 14:33] b-onc commented on #18
Hello @tikhop

Is it still the case that we can't parse the receipt locally and check if the user is eligible for a free trial?

[2019-08-13 16:59] tikhop commented on #18
Hello @b-onc

Unfortunately, we can't check whether the user is eligible for a free trial.

[2019-08-14 08:49] teologov opened #32 "receipt.verifyHash() fails with IARError.validationFailed error"
Hi @tikhop, recently hash validation started to fail in the app after I made some changes in the appstore connect, and replaced one in-app purchase with a new one (with new product id).

What can be a reason for this failure?

TPInApPReceipt version is `2.2.1`.

[2019-08-14 16:22] teologov commented on #32
FYI, I've just checked `v2.2.2` -- the same error. Please, let me know if more details are needed. I am happy to help as much as I can.

[2019-08-15 09:45] teologov commented on #32
Closing this issue, I managed to make it work again after I manually removed the cached receipts.

[2019-08-15 09:45] #32 closed

[2019-10-11 14:05] i-arun-samui opened #34 "Non consumable purchase"
First thanks for your approached with this library since we can get rid of openssl which is a real headache.

Since your library is focused on subscriptions, what about checking Non consumable purchase :
if the purchase hasn't been canceled CancelationDateString = nil right?
if the purchase has been canceled CancelationDateString != nil right?

thanks

[2019-10-16 14:18] tosbaha opened #35 "Hash Validation doesn't work"
I checked with my receipts, your receipt in Test Suite and validation is giving me an error.

[2019-10-16 14:31] tikhop commented on #35
@tosbaha It's hard to say why it doesn't work for you and how did you test it. Please, provide more information in order to reproduce the issue.

[2019-10-16 14:34] tosbaha commented on #35
I checked out the library with Xcode 11 SPM.(It checked out 2.2.3) Then opened my test suite and pasted your first test. It failed with

[2019-10-16 15:06] tosbaha commented on #35
I am testing on macOS. I run your test suite on a iMac which is running on macOS Catalina. My use case is to test receipts that I have from users for its authenticity. I guess `hashValidation` is using the value from the device (`UIDevice.current.identifierForVendor!.uuid`) when this receipt is generated. So hashValidation can't be used to verify the receipt offline.

[2019-10-16 15:11] tikhop commented on #35
@tosbaha Yes, you are right. GUID is being used when the receipt is generated. In order to test it on simulator (if you are using receipt from ios device) you have to hardcode guid of that device. It works offline, but you have to do it on you real device.

[2019-10-16 17:25] #35 closed

[2019-11-13 17:00] cupnoodle opened #36 "Can I make a port of this library to Objective-C?"
Hi Pavel!

Sorry for using this issue, but I can't find a way to communicate (tikhop.com is down) with you.

I am interested on making an Objective-C version of this library, is this alright with you? I will be sure to credit you and link to this library file on the new library README file.

[2019-11-13 20:02] tikhop commented on #36
Hi @cupnoodle.

Yeah, it's totally fine with me, but before doing that I would rather check existing solution written in ObjC.

Best,
P

[2019-11-13 20:02] #36 closed

[2019-11-17 11:40] tikhop commented on #34
@i-arun-samui Thank you. You are welcome.

I assume you are right, better to check apple docs tho. I haven't worked with non consumable purchase yet and I can't test. It would be great If you have a chance to try it out and share your results here.

Thanks,
P

[2019-11-23 12:59] chrisvanbuskirk opened #38 "[Catalyst] verifyHash fails"
I have been testing TPInAppReceipt on the Mac/Catalyst, and verifyHash fails.

[2019-11-23 15:44] tikhop commented on #38
@chrisvanbuskirk thanks for reporting. I will take a look.

[2019-11-23 23:38] i-arun-samui commented on #34
Hi,
According to Apple docs if cancellation date exists it means purchase has been cancelled, otherwise it’s nil

It’s not possible to test this since tester can not cancel purchase.

Laurent

[2019-11-26 16:52] chrisvanbuskirk commented on #38
@tikhop Hi, any updates on this?  Kinda of holding up some releases and I don't really want to head back to OpenSSL.

[2019-11-26 17:03] tikhop commented on #38
@chrisvanbuskirk Sorry to hear that. Unfortunately, i didn't have time to work on it and I'm not sure that it will be fixed shortly.

[2019-11-28 17:47] chrisvanbuskirk commented on #38
@tikhop  I understand.  I did revert back to using OpenSSL, as it now can compile for Catalyst.  However, the method I use to verify the receipt hash v. the computed hash fails as well.  It works flawlessly on iOS.   I created a radar on the matter and now going through your code as well, which I might include in the radar.  I now think something is up with the receipt.  I wonder if they even test

[2019-12-01 19:03] chrisvanbuskirk commented on #38
@tikhop Looks like I was wrong.  There's some rules for catalyst like Mac

On the Mac you need to use the machine's mac address instead of the identifierForVendor as you do on iPhone/iPad. Take a look at:
     https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateLocally.html#//apple_ref/doc/uid/TP40010573-CH1-SW10

You can use the "copy_mac_addr

[2019-12-02 12:28] tikhop commented on #38
@chrisvanbuskirk thanks for additional information. I'm planning to take a look tomorrow.

[2019-12-02 20:12] chrisvanbuskirk commented on #38
@tikhop Ok, I will wait a bit.

Be advised.  Catalyst apps report themselves as iOS.  You have to use:

// swift
#if targetEnvironment(macCatalyst)
...
//objc
#if TARGET_OS_UIKITFORMAC

Here's how I did my hash....it's all in obj-c
- (BOOL)verifyReceiptHash
{
    NSMutableData *data = [NSMutableData data];
    #if !TARGET_OS_UIKITFORMAC
    NSUUID *uuid = [UIDevice currentDevice].identifierForVend

[2019-12-02 20:16] tikhop commented on #38
@chrisvanbuskirk Sweet, thanks for providing a code snippet.

[2019-12-03 15:29] Zasuk opened #39 "Add support for non ASN.1 Fields"
Hi,
is it possible to add support for fields that can only be retrieved using JSON Field Name? for me the most important one is **is_trial_period** because we need to check this field and **is_in_intro_offer_period** together

also a method to get a Dictionary representation of the receipt is really useful.

thanks for the awesome work!

[2019-12-03 15:39] tikhop commented on #39
Hi @Zasuk,

Regarding the first issue. As I understand, you are fetching in-app receipt from apple server and you want to parse it using 'TPInAppReceipt`library?

I agree, about having a method to get a dict representation if the receipt. I will implement during this week.

Thanks,
P

[2019-12-03 15:40] tikhop commented on #38
@chrisvanbuskirk Just released a new version. Thanks again for your help.

Best,
P

[2019-12-03 15:40] #38 closed

[2019-12-03 15:45] Zasuk commented on #39
yes, i'm using `SKReceiptRefreshRequest` and then using this lib to parse and validate it (from local storage)

[2019-12-03 15:49] Zasuk commented on #39
just to give more context i'm referring to "Determine Eligibility" [here](https://developer.apple.com/documentation/storekit/in-app_purchase/implementing_introductory_offers_in_your_app)

I did a quick check in source code and it looks like [some fields](https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Chapters/ReceiptFields.html) are not parsed because they

[2019-12-03 15:52] tikhop commented on #39
Unfortunately, we can't retrieve these (JSON) fields from a local receipt.

[2019-12-03 15:54] tikhop commented on #39
I would recommend to check JSON fields on your server and handle all business logic which is related to those fields on backend.

Best,
P

[2019-12-03 15:54] #39 closed

[2019-12-04 01:20] chrisvanbuskirk opened #41 "rootCertificatePath is nil"
I just tried the latest build and rootCertificatePath seems nil and fails verification.

[2019-12-04 07:12] dongmai commented on #21
Hi @tikhop ,

I've installed TPInAppReceipt via cocoapods for my objective C project and #import "TPInAppReceipt-Swift.h" on my header files but it still can't find InAppReceipt class.

Can you please give me some hints to use on objective C project?
thanks

[2019-12-04 07:16] tikhop commented on #21
@dongmai I will double check later today. Thanks for your feedback.

[2019-12-04 07:16] tikhop commented on #41
@chrisvanbuskirk checking in a few...

[2019-12-04 08:21] tikhop commented on #41
@chrisvanbuskirk fixed! Updating cocoapods now.

Thank you!

[2019-12-04 10:39] #34 closed

[2019-12-04 11:23] tikhop commented on #21
@dongmai Just double checked and it really doesn't work in objc project. In order to make it work I have to change only a few lines, but it will bring back NSObject and the whole objc world back into the swift project.

I can create a separate branch, theoretically, with a code which will work in objc, but I'm not sure that I will maintain it.

Best,
P

[2019-12-05 03:59] dongmai commented on #21
@tikhop thanks for your info, you dont have to create a branch for that :-)

[2019-12-05 23:18] Zasuk opened #42 "Can be used with sandbox receipts?"
Hi,
I'm using it to validate sandbox receipts that i get with `SKReceiptRefreshRequest` but it fails...

`Error Domain=NSOSStatusErrorDomain Code=-25318 "“Mac App Store and iTunes Store Receipt Signing” certificate is not trusted" UserInfo={NSLocalizedDescription=“Mac App Store and iTunes Store Receipt Signing” certificate is not trusted, NSUnderlyingError=0x2830b7b10 {Error Domain=NSOSStatusError

[2019-12-06 09:40] tikhop commented on #21
@dongmai you are welcome. Let me know if you have any questions.

[2019-12-06 09:40] #21 closed

[2019-12-06 09:43] tikhop commented on #42
Hi @Zasuk,

I will double check later today or, maximum, during the weekend. (@cupnoodle maybe you have some info related to the current issue?)

Thanks for you report!

[2019-12-06 10:07] cupnoodle commented on #42
Hi @Zasuk , what is the platform of your app? is it macOS app or iOS app?

So far I have tested the signature validation on my own iOS app in both sandbox/production environment.

[2019-12-06 11:08] Zasuk commented on #42
hi, i'm using it with iOS. i'll email you the base64 data.
you need the value returned by the `var base64` in `InAppReceipt` , right?

[2019-12-06 11:11] cupnoodle commented on #42
Hi @Zasuk , Ah I see, yes the data in `var base64` in `InAppReceipt`.

[2019-12-08 15:40] cupnoodle commented on #42
Heya @Zasuk , I have found the issue, its because I didn't include WWDR (Worldwide developer certificate) in the chain of trust between iTunes certificate and Apple Root certificate.

I have submitted a pull request to fix this, but if you are in a hurry, you can modify the `Validation.swift` of this library, and add `worldwideDevCertSec` in the array in Line 169.

<img width="1112" alt="Screensho

[2019-12-08 15:48] tikhop commented on #42
@Zasuk, @cupnoodle I will accept PR in a bit and update cocoapods as well.

Thanks to both of you!
P

[2019-12-08 15:55] tikhop commented on #42
@Zasuk, @cupnoodle Just released a new version.

Thanks again.
P

[2019-12-08 15:55] #42 closed

[2019-12-08 15:56] cupnoodle commented on #42
Thanks @tikhop  and @Zasuk !

[2019-12-08 17:45] Zasuk commented on #42
awesome!! thank you guys

[2019-12-12 09:25] everwanna commented on #42
Thank you @Zasuk @tikhop @cupnoodle

[2020-03-07 21:54] IngmarStein commented on #41
It looks like the issue was only fixed for CocoaPods users. When integrating TPInAppReceipt with SwiftPM, the certificate file won't be found because the current SwiftPM release misses the feature of adding resources to package. Until [SE-0271](https://github.com/apple/swift-evolution/blob/master/proposals/0271-package-manager-resources.md) makes it into [Swift 5.3](https://forums.swift.org/t/se-0

[2020-03-07 22:45] tikhop commented on #41
@IngmarStein You

[2020-03-12 17:46] tikhop commented on #41
@IngmarStein Just updated `Readme`. Thanks again for pointing this out.

[2020-03-12 17:46] #41 closed

[2020-04-06 21:02] CineDev opened #45 "Import IOKit won't compile on macOS"
### Platform

- [ ] macOS

### Environment

- [ ] Sandbox
- [ ] Production

### Version

current
### Related issues

## Report

Import IOKit is a wrong line, resulting in non-compliled code

### Issue summary
for macOS target you importing IOKit, but you should import Cocoa. Now the code won't compile

### What did you expect to happen
ℹ Please replace this with what you expected to happen.

### W

[2020-04-06 21:20] CineDev opened #46 "localReceipt not creating local receipt file in the sandbox environment"
### Platform

- [ ] macOS

### Environment

- [ ] Sandbox

### Version
ℹ 2.2

### Related issues
ℹ Please replace this with references to similar issues (either open or already closed).

## Report

### Issue summary
ℹ localReceipt call results in error with code 0 on sandbox environment,

### What did you expect to happen
ℹ I expect the mac app store login window where I can type my test user logi

[2020-04-06 21:24] tikhop commented on #45
@CineDev Thanks for reporting. I will take a look. Are you trying to build mac catalyst project or just a regular macOS app?

Thanks,
P

[2020-04-06 21:27] tikhop commented on #46
@CineDev This library can be used only for validating and parsing local receipt. If you don't have a receipt you should refresh local receipt using StoreKit.

Refreshing receipt will be available in the next release.

Best,
P

[2020-04-06 23:38] CineDev commented on #46
Thanks for reply. Didn't understand than: what's the point of localReceipt var?

[2020-04-06 23:40] CineDev commented on #45
Regular. But IOKit isn't applicable here anyway. It's using for hardware and drivers access only. You need Cocoa framework instead.

[2020-04-06 23:48] CineDev commented on #45
Let me show you what's happening when I'm linking your code [https://drive.google.com/open?id=1TlgFEvJymVcIxxdsnVZ8A7h4qsOEZaAi](url)

[2020-04-06 23:55] tikhop commented on #46
`localReceipt` returns the receipt from your device. There is a case when the local receipt isn’t available, therefore you have to refresh it first and then you can try to retrieve again.

[2020-04-06 23:59] #46 closed

[2020-04-07 00:11] CineDev commented on #45
Now code compiles. Thanks!

[2020-04-07 00:16] tikhop commented on #45
Great! Thanks again for reporting.

Best,
P

[2020-04-07 00:16] #45 closed

[2020-04-08 06:19] CineDev opened #47 "Permanent ValidationFailed error"
### Platform

- [ ] macOS

### Environment

- [ ] Sandbox
- [ ] Production

### Version
ℹ 2.3.4

### Related issues

## Report

### Issue summary
ℹI get permanent ValidationFailed error. Rolled back to version 2.2 and everything works fine

### What did you expect to happen
ℹ expect the validation will be success on apple's MAS receipt

### What happened instead
ℹ Please replace this with what hap

[2020-04-08 18:01] tikhop commented on #47
@CineDev could you please provide a failure reason.

[2020-04-08 18:02] CineDev commented on #47
error.localizedDescription contains error code 1. That's all

[2020-04-08 18:03] tikhop commented on #47
there should be a reason `ValidationFailureReason` then I can understand at which stage of validation you get a failure

[2020-04-08 18:05] CineDev commented on #47
I'll try to play around tonight. We'll provide you information as much as I can

[2020-04-08 18:05] tikhop commented on #47
@CineDev Thank you!

[2020-04-08 18:22] tikhop commented on #47
@CineDev you can get a reason by doing next:

[code]

Best,
P

[2020-04-08 19:21] CineDev commented on #47
signatureValidation(TPInAppReceipt.IARError.SignatureValidationFailureReason.appleIncRootCertificateNotFound)

[2020-04-08 19:26] tikhop commented on #47
@CineDev well, from the README

Note: Currenty, SwiftPM doesn't support the feature of adding resources to package and therefore you have to add the Apple Root Certificate manually. You can find it here.

You need to download Apple Inc Root Cert.

Best,
P

[2020-04-08 19:26] #47 closed

[2020-04-10 04:09] CineDev opened #48 "Binary rejected from Mac App Store"
### Platform

- [x] macOS

### Environment

- [x] Production

### Version
2.3.4

## Report

### Issue summary
Submitting binary with v2.3 of the framework went well. Binary was accepted. But when I updated the framework to v2.3.4, my binary was rejected by Apple's review team with this message:

'We noticed that with a valid receipt installed, your app quits on launch. The Console reports the app

[2020-04-14 09:00] tikhop commented on #48
@CineDev I'm sorry, but I can't help you here, all my apps work well with 2.3.4

[2020-04-14 09:00] #48 closed

[2020-04-14 14:50] CineDev commented on #48
Maybe you could just show me the verification code in applicationDidFinishLaunching?
Mine is:
`		SwiftyStoreKit.fetchReceipt(forceRefresh: true) { result in
			switch result {
			case .success(let receiptData):
				do {
					let path = Bundle.main.url(forResource: "Items", withExtension: "list")?.path
					let receipt = try InAppReceipt(receiptData: receiptData, rootCertPath: path)
					try receip

[2020-05-28 07:30] chnbr opened #49 "Two active renewable IAP at a time"
### Platform
- [X] iOS

### Environment
- [X] Sandbox, probably Production as well !

### Version
latest

Hi,

I am using the following code to process subcriptions.

[code]

I have 4 subscriptions (A,B,C,D) which are put into (ASC) levels (1,2,3,4) respectively. All are in the same subscription group.

I did test purchase all the IAPs in the order D-C-B-A, i.e. from level 4 to level 1.

According

[2020-05-28 11:06] tikhop commented on #49
@chnbr here is my email: tikhop at gmail.com

[2020-05-28 11:35] chnbr commented on #49
Hi,

Waht is the easiest way to store it to file ? I only handle it in memory normally…

Regards
Christian

--
Dr. Christian Neubauer			Phone: +49 911 3774877
Händelstr. 2					Fax:     +49 911 5805990
D-90491 Nürnberg				Mobil:  +49 179 5906913

[2020-05-28 11:45] tikhop commented on #49
You can print a base64 string, copy and past it into a text file.

```let base64Receipt = receipt.base64```

Best,
P

[2020-05-29 23:22] tikhop commented on #49
Hi @chnbr,

I just tried to reproduce the issue and got two active subscriptions where the first didn't have cancelation date.

The only way to know whether a subscription has been expired or canceled is to check these two properties of the `InAppPurchase`:

`subscriptionExpirationDateString`
`cancellationDateString`

Based on Apple Documentation `cancellationDateString` is not available in sandbo

[2020-05-30 07:24] chnbr commented on #49
Hi,

Thanks for investigating this. Sorry that I didn’t respond yet. I yesterday went on holiday with my wife and mit time is limited regarding programming….

Is the cancelation issue handled correctly in production ? If itÄs only a problem in sandbox I don’t see any need for changes. If this could occur in production I think it should be fixed. (Just my 2 cents…)

I think I donÄt need to send you

[2020-05-31 10:17] tikhop commented on #49
Hi @chnbr,

I’ve double checked that it does work if `cancellation date` value is presented in the purchase payload. I assume that it should work in production as well based on Apple docs.

Yeah, I don’t need your receipt anymore since I was able to reproduced the same behavior. Thanks anyways.

P

[2020-05-31 10:17] #49 closed

[2020-06-18 07:39] ladeiko opened #50 "discountIdentifier"
Add support for discountIdentifier (see https://github.com/ladeiko/TPInAppReceiptX)

[2020-06-18 08:12] ladeiko opened #51 "add support for 'type'"

[2020-06-18 09:44] tikhop commented on #51
Why don't you just make a pull request?

[2020-06-18 10:00] tikhop commented on #51
@ladeiko  I've checked my receipt where all purchases are "auto renewable subscription" and they all have type == 1

[2020-06-18 11:52] tikhop commented on #50
Thanks for pointing out. It will be released soon.

[2020-06-18 11:52] #50 closed

[2020-06-18 13:36] tikhop commented on #51
My bad, i was wrong it actually equals to `3`. Which is auto renewable subscription.

[2020-06-18 15:44] #51 closed

[2020-06-23 11:11] euroboy opened #52 "How to check purchasing status of a non consumable?"
I use this function in order to get the purchasing status of a product from the local receipt:

    'func purchaseStatus(localReceipt: InAppReceipt, purchase: AppPurchase) -> PurchaseResult
    {
        let productID = purchase.productID
        switch purchase.type
        {
        case .nonConsumable:

            let filtered = localReceipt.purchases(ofProductIdentifier: productID)

[2020-06-23 15:33] tikhop commented on #52
Hello @euroboy,

Thanks for your question.

Your logic regarding auto-renewable subscription is completely right. However, there is no need any extra logic for checking a non-consumable purchase. If you have a non-consumable purchase inside your local receipt it means that it's valid and the user did make a purchase and it's a legit purchase.

Moreover, based on apple docs we know that: non-consum

[2020-06-24 12:55] euroboy commented on #52
@tikhop Indeed, thank you for the help.

[2020-06-24 12:55] #52 closed

[2020-06-24 19:52] Jerland2 opened #53 "Swift Package Manager Apple Root Cert"
Could the apple root cert be added for Swift Package Manager?

SPM can now contain resources as of swift 5.3, Swift tools version 5.3.

Xcode 12 will allow you to do this.

[2020-06-24 19:56] tikhop commented on #53
Yes, it will be added soon.

Thanks,
P

[2020-06-24 19:59] Jerland2 commented on #53
Sweet, thanks there is a specific WWDC Video on how to add this support (resources to packages): https://developer.apple.com/videos/play/wwdc2020/10169/

[2020-06-26 10:53] kambala-decapitator opened #54 "IARError.initializationFailed isn't thrown when receipt is missing"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### Environment

- [x] Sandbox
- [ ] Production

### Version
2.5

### Related issues

## Report

### Issue summary
IARError.initializationFailed is no longer thrown when receipt is missing, a generic Cocoa error is thrown instead. Happens in debug and Testflight builds.

I believe it's related to this change: https://github.com/tikhop/TPInAppReceipt/

[2020-06-26 11:24] Jerland2 commented on #53
Great work!  Would be nice to also update the readme under SPM to reflect this.

[2020-06-28 06:31] tikhop commented on #54
Hello @kambala-decapitator,

Thanks for bringing this up. I'll check it out and submit a fix shortly.

Best,
P

[2020-06-28 06:35] tikhop commented on #53
@Jerland2 ✅

[2020-07-12 20:50] chrisvanbuskirk opened #55 "Make TPInAppReceipt testable with the Xcode onboard storekit testing"
### Issue summary
ℹ There are some differences needed when testing in Xcode.  A differing certificate must be used.

https://developer.apple.com/wwdc20/10659. About 16 minutes discusses certificates.  Testing in Xcode should be supported feature.  Thank you.

[2020-07-14 15:02] tikhop commented on #54
Hi @kambala-decapitator,

Just released a new version with a fix.

Thanks again.

[2020-07-14 15:02] #54 closed

[2020-07-22 17:38] motocodeltd opened #58 "Fail to parse StoreKitTest receipt"
### Platform

- [X ] iOS
- [ ] macOS
- [ ] tvOS

### Environment

- [ X] Sandbox
- [ ] Production

### Version
ℹ Please replace this with the version of TPInAppReceipt you're using.
16ac80c7f2cf0810dbe1de0c5ac48ac67b031d0b (latest master at time of writing)

### Related issues

## Report
Setting up a test using
https://developer.apple.com/documentation/xcode/setting_up_storekit_testing_in_xcode -

[2020-07-22 17:38] motocodeltd commented on #58
MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCABgkqhkiG9w0BBwGggCSABIIBfzGCAXswDwIBAAIBAQQHDAVYY29kZTALAgEBAgEBBAMCAQAwIwIBAgIBAQQbDBluZXQuemFjaGFyaWFkaXMuY3ljbGVtYXBzMBECAQMCAQEECQwHMzEuMTAuMDAQAgEEAgEBBAi9dvT/BAAAADAcAgEFAgEBBBQNsT28UFTnpyaDfWk3iEEyTGZufTAKAgEIAgEBBAIWADAiAgEMAgEBBBoWGDIwMjAtMDctMjJUMTg6MzM6MTUrMDEwMDCBngIBEQIBAQSBlTGBkjAMAgIGpQIBAQQDAgEBMBwCAgamAgEBBBMMEUNZQ0xFTUFQU19QUkVN

[2020-07-22 17:39] motocodeltd commented on #58
this is the base64encoded receipt

[2020-07-22 17:39] motocodeltd commented on #58
Thank you!

[2020-07-24 10:15] tikhop commented on #58
Hi @motocodeltd,

I think this issue is related to https://github.com/tikhop/TPInAppReceipt/issues/55.

I'm planing to work on it during the weekend.

Thanks,
P

[2020-07-24 10:46] motocodeltd commented on #58
Thanks Pavel - will be interested in what you find out.

https://developer.apple.com/forums/thread/655313 <---- this is mirroring my experience too.

[2020-07-26 17:24] tikhop commented on #58
Hi @motocodeltd,

First, I was wrong that it's related to #55.
Second, I've tried to reproduce the issue using your receipt and found a problem with asn1 decoder. The structure of your receipt (I assume you got it by using new xcode and iOS 14?!) is quite different compare to the "Original" format.

I'm working on it now.

Thanks,
P

[2020-07-27 16:54] motocodeltd commented on #58
Thanks for the update - yes this is a receipt via xcode 12 and ios14.

[2020-07-31 11:43] holtwick commented on #58
Thanks @tikhop for looking into it! I experienced the same issue and can help testing. I use Xcode 12b3 on macOS Big Sur (Intel) for a macOS only app. The parsing indeed fails. You might also need the certificate as well. In case I attach it to this message (hoping it is the same for everyone and not generated locally)

<img width="1247" alt="Screenshot 2020-07-31 at 13 42 52" src="https://user-im

[2020-07-31 12:13] tikhop commented on #58
Hi @holtwick,

Thanks for testing. Currently, I'm writing new asn1 decoder in order to parse any ASN1 notations since in ios 14 we have a slightly different format of the receipt. It's still pkcs7, but with a different encoding technique.

Another issue you are talking about is related to certificate chain and I'm aware about it as well. It shouldn't be hard to implement when I'm done with ASN1 de

[2020-08-04 14:08] tikhop commented on #58
Alright, I'm done with ASN.1 Decoder (still have some minor issues, but in general it works well and parses both, legacy and new receipt formats). Here is the link, if someone wants to check it out. [ASN1Swift](https://github.com/tikhop/ASN1Swift). It works similar to `JSONDecoder` and implements the same protocol `Decoder`. Basically, you just provide an object with `CodingKeys` and `ASN1Decoder`

[2020-08-05 22:17] tikhop commented on #55
Hello @chrisvanbuskirk,

I've implemented the last changes and pushed it on [`develop`](https://github.com/tikhop/TPInAppReceipt/tree/develop) branch.
Related issue #58 is fixed as well.

I will merge these changes into `master` ~ at the end of August.

Thanks,
P

[2020-08-05 22:18] #55 closed

[2020-08-05 22:23] tikhop commented on #58
@motocodeltd, @holtwick

Please, for now, use the code from `develop` branch. Everything should work now.

Thanks again for bringing this up, sharing a receipt and a certificate.

Best,
P

[2020-08-05 22:26] tikhop commented on #53
@Jerland2 I'm closing this issue. And if you are still using that branch it better to switch on `develop`.

Best,
P

[2020-08-05 22:26] #53 closed

[2020-08-06 07:36] holtwick commented on #58
Awesome, thanks a lot! I can confirm, that I do not get parsing errors any more. Sadly it is still not yet working as expected, but this might be due to some local configuration issues. I am under the impression it uses a wrong local receipt somehow, since the purchases I do in the StoreKit test environment are not reflected when I list the purchases found by TPInAppReceipt. I'll try to investigat

[2020-08-06 07:59] holtwick commented on #58
Indeed, if I turn StoreKit testing on/off it always uses the Receipt from the sandbox account purchases. Looks like I need to watch the WWDC videos again ;)

[2020-08-06 08:21] tikhop commented on #58
Hey @holtwick,

I'm glad it parses the receipt at least. Unfortunately, I haven't got a chance to try it out neither with a real purchases nor with StoreKitTest. I just did it the way it says in the WWDC video. I will do more testing next week. Let me know if you have any other issues.

Thanks

[2020-08-06 21:55] motocodeltd commented on #58
Hi Pavel - this is working for me, thank you, after a couple of patches which I've submitted as PRs (#59 and #60 )

[2020-08-06 22:01] tikhop commented on #58
Thanks for the patches.

[2020-08-09 14:34] motocodeltd commented on #58
Hi Pavel - one more thing - are you expecting hash verification to work? signature, bundle identifier and version are working, but not hash.

Thank you

[2020-08-09 14:39] tikhop commented on #58
Hi Stefanos,

Actually it works for me and if you are testing on real device it suppose to work either. If you want to test in simulator instead, you have to change hardcoded guid for this purpose. It should match device's guid.

You can insert yours [here](https://github.com/tikhop/TPInAppReceipt/blob/8a93e65ba86678deb5fe9b0a87e8c28880724d6d/Sources/Validation.swift#L256)

[2020-08-10 14:22] motocodeltd commented on #58
Hi Pavel, that's great, thank you. One more thing though, why is there a hardcoded uuid for the simulator? It works just fine if you remove the first part of the #if block and you use the uuid provided by the OS running on the simulator itself (at least, it works for me (tm) for watchos and ios). Not sure if I understand your reason for the hardcoded uuid, but I'll provide a PR that removes it any

[2020-08-10 14:27] tikhop commented on #58
I agree, it shouldn't be there. The only reason I put it there is in order to debug a receipt from a real device.

[2020-08-14 15:18] holtwick commented on #58
Thanks @motocodeltd and @motocodeltd and @tikhop The fixes seem to have worked. I can now successfuly test on macOS Big Sur with Xcode beta! 🎉

[2020-08-15 15:06] motocodeltd commented on #58
Hi Pavel - sorry to be a downer, but recent changes to ASN1 (post eb862bb7cd3a1a4e93d1914185d1053cfee66c5d) break receipt validation again. I got these transitively and randomly, as TPInAppReceipt depend on ASN1Swift master which is a moving target. I get assertionFailure("Something wrong here") InAppReceiptPayload. Sorry I can't be more helpful but I'm on holiday (!) and have little time to inves

[2020-08-15 19:53] tikhop commented on #58
Got it. I will fix it in a bit.

Thanks for letting me know.

[2020-08-15 23:19] tikhop commented on #58
Hey @motocodeltd,

I've pushed some changes. Works well with my receipt and yours.

@holtwick would you mind to try the last changes and see whether it works well for you either. Thanks in advance.

[2020-08-17 15:24] holtwick commented on #58
I have to admit I use the sources directly i.e. I copy the .swift files from both repos, modify some imports and then just use it. As of the latest from `develop` and ASN1 `master` it seems to work fine with my test case.

[2020-09-08 00:52] Jerland2 commented on #58
having this issue as well, is there a status on when this will be merged into master?

[2020-09-08 00:59] tikhop commented on #58
Hi @Jerland2,

I've been thinking to do that when Apple release xcode 12 GM, but I think I will do it over the weekend.

Thanks,
P

[2020-09-16 03:10] chrisvanbuskirk commented on #58
The GM is out.

[2020-09-16 10:25] tikhop commented on #58
@chrisvanbuskirk yep, merging in a couple hours...

[2020-09-16 13:18] tikhop commented on #58
Just merged `develop` into `master` and released new cocoapods version.

I'm closing this issue.

Shout out to @motocodeltd, @holtwick, @Jerland2 and @chrisvanbuskirk for your help.

[2020-09-16 13:18] #58 closed

[2020-09-16 16:05] chrisvanbuskirk commented on #58
@tikhop A little issue here with SPM

<img width="875" alt="Screen Shot 2020-09-16 at 10 03 27 AM" src="https://user-images.githubusercontent.com/3638007/93363167-1ab74f00-f804-11ea-8c23-b27fb6155334.png">

[2020-09-16 21:52] tikhop commented on #58
@chrisvanbuskirk Fixed!

[2020-09-19 22:26] motocodeltd opened #62 "Crashes with WatchOS 6.2 / 7.0"
Hi,

Using latest TPInAppReceipt in shared code in WatchOS and iOS. I have some crash reports coming in from WatchOS only (code identical to iOS).  Unfortunately symbolication fails for some reason (I import TPInAppReceipt as a swift package manager module, and i think there's a bitcode related bug here). So the obfuscated trace looks like this:

0   -      	0x000c70b6 _hidden#590_ + 40 (__hidden#

[2020-09-24 07:51] dobrys opened #63 "Type 'InAppReceipt' has no member 'refresh'"
First, 10x for great library.
I'm trying to use it in my app, but have issue !

when i try to use :

`
InAppReceipt.refresh { (error) in
  if let err = error
  {
    print(err)
  }else{
    initializeReceipt()
  }
}
`

xcode (ver. 12) say : "Type 'InAppReceipt' has no member 'refresh'"

I installed it via pod file

please help !

[2020-09-24 07:59] dobrys commented on #63
Found it
pod install ver. 2.2.3 - there are no such member
after "pod update TPInAppReceipt" - it's update to ver 3.0.0 - there are such member

[2020-09-24 12:16] tikhop commented on #63
Hi,

I'm glad you found it. Let me know if you have any other issues or just have some question.

Thanks,
P

[2020-09-24 12:16] #63 closed

[2020-09-24 16:25] dobrys opened #64 "background warning"
sorry for disturbing, but when use "InAppReceipt.refresh { (error) in ..."
after a while i'm got a warning from xcode
"[BackgroundTask] Background Task 1 ("SKReceiptRefreshRequest"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endBackgroundTask(_:) for your task in a timely manner to avoid this."
any

[2020-09-27 14:09] chrisvanbuskirk opened #65 "[Catalyst] Big Sur App Receipt not found"
This issue is thrown in Big Sur beta 8 and validation fails

Error validating receipt: initializationFailed(reason: TPInAppReceipt.IARError.ReceiptInitializationFailureReason.appStoreReceiptNotFound)

[2020-09-28 17:25] tikhop commented on #65
Hello Chris,

Unfortunately, I won't be able to fix the issue until Big Sur is released.

Best,
P

[2020-09-28 17:35] tikhop commented on #64
Hi, there is nothing I can do. It comes from the system and seems that when I create `SKReceiptRefreshRequest`, system creates a background task. I just ignore this msg

[2020-09-28 19:53] chrisvanbuskirk commented on #65
@tikhop Understood Pavel.  It might now be the api but bugs in Big Sur.  The thing is really buggy still.   It doesn't see the receipt file thus the exception.

po FileManager.default.fileExists(atPath: appStoreReceiptURL!.path)
false

[2020-09-29 19:42] mikeumus opened #66 """ is damaged and can't be opened. Delete "" and download it again from the App Store."
... "In-App Purchase Receipt Validation" ... 🤔

Does this mean the user has to buy something in the app for validation to work?

- What about when a user first downloads the app from the App Store?
- Can freshly installed apps be validated as well?
- What stops someone from who bought the app from MAS to then upload it to a torrent network?

Thanks @tikhop 🙇🏻‍♂️

[2020-09-30 10:47] tikhop commented on #66
Hi @mikeumus,

In order to validate a receipt you must have a receipt ready. Usually, you validate a local receipt for your app, but there is nothing wrong to validate a receipt from another device and app. To get a local receipt you must have at least one purchase within an app.

_What about when a user first downloads the app from the App Store?_
If you try to retrieve a local receipt you will g

[2020-10-01 11:24] #66 closed

[2020-10-07 00:18] mikeumus commented on #66
Thanks for the informative answer @tikhop 👍

[2020-10-07 11:47] tikhop commented on #66
@mikeumus you are welcome. ✌️

[2020-10-14 06:51] bradleyandrew commented on #64
I was getting that error as well. It seems that you may need to call the cancel() method as per the Apple Documentation:
https://developer.apple.com/documentation/storekit/skrequest

I tweaked this method in the RefreshSession Class in Extras.swift and everything seems to be working:

    func requestDidFinish(_ request: SKRequest)
    {
        requestDidFinish(with: nil)
        receiptRefreshRe

[2020-10-14 08:54] dobrys commented on #64
10x a lot bradleyandrew

[2020-10-14 09:52] tikhop commented on #64
@bradleyandrew thank you. I will fix it later or you can send a PR.

[2020-10-19 09:28] tikhop commented on #64
@dobrys, @bradleyandrew i've made a pull request and going to release a new version later today.
Thank you both.

[2020-10-22 00:46] #64 closed

[2020-10-22 00:56] tikhop commented on #64
Just merged. Thanks again!

[2020-10-22 05:12] bradleyandrew commented on #64
@tikhop Awesome work, thank you!

[2020-10-30 11:39] holtwick opened #68 ""Unexpected tag. Inappropriate.""
Not sure if this is a bug. On my local machine when working with Sandbox Test Users from Apple after the second start I get an error thrown. If you need the Receipt in binary form please contact me via mail at dirk.holtwick@gmail.com Thanks.

<img width="1070" alt="Holtwick-Xcode-2020-otmmUdiD@2x" src="https://user-images.githubusercontent.com/49557/97700507-3fae0b80-1aac-11eb-82d4-81abca269257.pn

[2020-10-30 19:10] tikhop commented on #68
Figured it out — no issue with the library itself.

[2020-10-30 19:10] #68 closed

[2020-11-08 12:31] macoapps opened #69 "Typo issue : bundleIdentifierVefirication"
Hi,
thanks for your very helpful lib !
I've just noticed a small typo in ValidationFailureReason enum.
Case 'bundleIdentifierVefirication' should probably be 'bundleIdentifierVerification' ;)

EDIT : same for case 'bundleVersionVefirication'

[2020-11-08 13:10] tikhop commented on #69
Hi,

Thank you. I'm glad you found it useful.
I've fixed the typo and will include the fix in the next release.

Thanks again.
P

[2020-11-08 15:41] #69 closed

[2020-11-18 06:55] macoapps opened #70 "[iOS 14.2/Big Sur] activeAutoRenewableSubscriptionPurchases always empty"
Hi,

I recently upgraded my iMac to Big Sur, and my iPhone to iOS 14.2.
I don't really what's wrong, but my subscriptions management doesn't work anymore. By the way, receipt.activeAutoRenewableSubscriptionPurchases is always empty, even if I have a valid renewable subscription (ie not expired). Tried on both simulator and real device, same result :(
I don't understand, because I've made no change

[2020-11-18 14:22] tikhop commented on #70
Hi,

Thanks for bringing this up.
I will try tonight with my apps.

Best,
P

[2020-11-23 00:19] tikhop commented on #70
Hey @macoapps,

Could you please email (tikhop (@) gmail.com) your receipt and I will try to figure it out why it doesn't work for you.

Thanks,
P

[2020-11-24 17:57] macoapps commented on #70
I've just sent you my receipt.
Maybe I found something :

receipt.activeAutoRenewableSubscriptionPurchases => this one is empty

receipt.purchases.filter({ $0.isRenewableSubscription }) => this one seems to contain the renewable subscriptions
Then I filter them in a loop with this test :
if let expirationDate = subscription.subscriptionExpirationDate, expirationDate > Date() {
 // do my stuff
}

A

[2020-11-29 10:40] gubikmic opened #71 "Fix Carthage"
When I try to add this in Xcode 11.3.1 via "Add Package Dependency…" I get an error saying "Package Resolution Failed".

Any idea how to fix this? Thanks a lot!

[2020-11-29 10:44] gubikmic commented on #71
Update: I tried using the topmost commit and then it gives a more specific error message:

So it might just be that. I'll see if I can update and will report back

[2020-11-29 13:46] gubikmic commented on #71
Unfortunately using Carthage doesn't work either:

Dependency "TPInAppReceipt" has no shared framework schemes

[2020-11-29 13:49] tikhop commented on #71
Hi @gubikmic,

Thanks for bringing this up. I will check Carthage. SPM works well for me.

[2020-11-30 20:38] gubikmic commented on #71
Would be super nice if you could check Carthage. I have to stay on Mojave (and thus Xcode 11) for a little bit longer.

[2020-12-03 18:39] tikhop commented on #70
I haven't found any issues in my projects — seems that's an issue we have discussed via email: subscription in debug mode expires in one second.

[2020-12-03 18:39] #70 closed

[2020-12-03 18:40] tikhop commented on #65
HI @chrisvanbuskirk,

I haven't updated to Big Sur yet, just curious whether you still have the problem.

Thanks,
P

[2020-12-03 21:08] NameX44 opened #72 "Expiration date / purchase seems to not be in in same timezone as swift Date()"
Hi,

I've got something weird on my iOS app. I did a StoreKit configuration to test my auto renewable purchase flow.

I buy a 1 month subscription (which expire in 30s). When I call isActiveAutoRenewableSubscription with Date() as parameter it seems that date are not working well, this is what I get :

date : 2020-12-03 20:54:33 +0000
purchaseDate : 2020-12-03 21:54:32 +0000    <--- Seems to be GM

[2020-12-04 10:46] zsombornagy commented on #72
I just experienced the same problem.

I'm in CET (GMT +1), and when I make a purchase using the local StoreKit configuration, the purchase date of the IAP is set in UTC instead of CET.

So if I buy a subscription now at 11:44 CET, it will then show up as a purchase date of 11:44 UTC, so I have to wait an hour until it will count as an active subscription.

This might have nothing to do with TPInAp

[2020-12-04 10:50] zsombornagy commented on #72
Although this part scares me a little bit:

[code]

[2020-12-04 13:01] tikhop commented on #70
Related issue: https://github.com/tikhop/TPInAppReceipt/issues/72

[2020-12-04 13:18] tikhop commented on #72
Hi @NameX44,

Thanks for bringing this up. Gonna try to make a purchase and check what's the default timezone is used in the local receipt. I thought it's must always be GMT0.

@zsombornagy Regarding that piece of code you shared I can't say anything for now, but there definitely was a reason to convert it to UTC. Maybe, since `Date()` returns time in UTC, I decided to convert it to UTC right away

[2020-12-05 09:49] tikhop opened #73 "Receipt validation doesn't work when an iOS app runs on an Arm Mac"
More info: https://developer.apple.com/forums/thread/667715

[2020-12-05 10:15] tikhop commented on #71
Hi @gubikmic,

I've tried to fix it quickly, but it's a bit more complicated then I thought. To be honest, I have never tried to used Carthage personally, but I know that it used to work well until I've changed the project structure in order to distribute it via SPM. I think, I won't fix it and probably will just discontinue Carthage support unless someone wants to fix it.

[2020-12-05 10:22] gubikmic commented on #71
Thanks for the update. I might take a look at it or update and use SPM

[2020-12-06 19:30] tikhop commented on #71
Yeah, better to update, but I know, how painful in might be. Another option is just to download source code and put it directly in your project.

[2020-12-07 21:00] NameX44 commented on #72
Hi @tikhop  @zsombornagy ,

it seems to only happen with StoreKit configuration file receipt. I tried in sandbox and no problem everything works fine.

Maybe it's a bug in Apple side ?

[2020-12-08 08:16] aalenliang commented on #73
Yes, it does not work. I submit my reply in the thread.

[2020-12-08 12:04] tikhop commented on #73
Hi @aalenliang, thanks for your reply. Sounds like we just need to tweak that  conditional statement and jump straight to osx implementation like we do with catalyst apps.

Unfortunately, I don’t have mac with M1 chip and I haven’t updated on Big Sur yet. So, I can’t even try to run my iOS app on macOS. I will be more than happy, If you have a chance to play with that piece of code and to try to f

[2020-12-08 12:15] tikhop commented on #72
Hi @NameX44,

Appreciate your efforts in trying to figure it out. I have only tried in sandbox and it works well. Can’t say anything about StoreKit configuration tho, but I’m going to try it out in the short future.

[2020-12-08 19:42] tikhop commented on #73
Hi @aalenliang,

I've pushed a potential fix, would be great if you can try it out. (it's on develop branch)

https://github.com/tikhop/TPInAppReceipt/commit/1a7a1435912c56bf3ad5e1face9c542d68631abe

[2020-12-09 02:24] aalenliang commented on #73
Hi, thanks for the quick reply!
I tried the develop branch, unfortunately, it fails to build.

I think many API requires macOS environment but during the build process, the compiler thinks it's running in iPad.

![image](https://user-images.githubusercontent.com/20056005/101565719-9c380b00-3a08-11eb-8063-2c5ba7946287.png)

[2020-12-09 03:18] aalenliang commented on #73
I have another project that's build for Mac, which also uses TPInAppReceipt for local receipt verification, and it works well.

So I get the macos_guid from that project since I guess the data should always be the same when running on the same mac.

Then I changed the macos_guid() method to read the data, just to see if it passes the verification, the result is still failed because the hash is not

[2020-12-10 10:01] victorkifer opened #74 "Background Task SKReceiptRefreshRequest was created over 30 seconds ago"
After refreshing receipt I'm getting a warning:

[code]

The request completes successfully and the warning appears later on. It seems to be similar to https://github.com/RevenueCat/purchases-ios/issues/391

And it should probably be resolved by cancelling the request both after success and error in `RefreshSession`, similar to what is done https://github.com/RevenueCat/purchases-ios/pull/418

[2020-12-10 10:27] tikhop commented on #74
Hi @victorkifer,

Weird, it was fixed here https://github.com/tikhop/TPInAppReceipt/commit/96a960c8a1ee66ea55c9e1c7738a7e1849532cbc. Are you using cocoapods/SPM?

[2020-12-10 10:33] victorkifer commented on #74
@tikhop Yes, I'm using cocoapods. It seems version 3.0.2 is not published yet.

[2020-12-10 10:36] tikhop commented on #73
@aalenliang Yeah, it seems that we don't have a workaround here. I've reporting it to Apple Developer Technical Support and they are checking whether it's a bug or not and what should we do.

[2020-12-10 10:45] tikhop commented on #74
Yeah, I will do it tonight.

[2020-12-10 17:22] tikhop commented on #74
@victorkifer Just published.

[2020-12-10 17:22] #74 closed

[2020-12-10 17:29] tikhop commented on #65
Hi @aalenliang, based on your reply on developers forum it seems that you have the same issue here.
Am I right that `Bundle.main.appStoreReceiptURL` returns an invalid path and instead of `./../../sandboxReceipt` you get `./../../receipt`?

[2020-12-10 21:55] chrisvanbuskirk commented on #65
@tikhop Pavel.  Sorry for the late response.  I verified everything worked in the release version.  Thanks again for your hard work.

[2020-12-10 22:03] chrisvanbuskirk commented on #72
I noticed some date issues for purchases when using store kit testing.  There was no problem however in the sandbox.  Pointing fingers at Apple.

[2020-12-11 07:33] aalenliang commented on #65
@tikhop, Yes, but I am running an iOS app on ARM, so it is not the same case.

[2020-12-11 07:35] aalenliang commented on #73
Thanks for your work, guess we can just wait for Apple to release something.

[2020-12-11 12:42] chrisvanbuskirk commented on #65
I'm closing this.

[2020-12-11 12:42] #65 closed

[2020-12-11 18:47] tikhop commented on #65
@chrisvanbuskirk thank you — glad it works.

[2020-12-11 18:53] tikhop opened #75 "`Bundle.main.appStoreReceiptURL` returns wrong url when using StoreKit configuration file and running iOS app on macOS (m1)"
More info: https://developer.apple.com/forums/thread/667715?answerId=651424022#651424022

[2020-12-12 14:51] Kondamon commented on #72
I have experienced the same issue in StoreKitTest.

As a work around I do a manual conversion:
[code]

[2020-12-14 21:05] tikhop commented on #72
Hi @Kondamon, thanks for posting your workaround. I still haven't got a chance to play around with StoreKitTest, but I will definitely do it. So far, the legacy way, when you test on device without StoreKitTest works well and, the most important, it works in production. Nevertheless, I agree, it must work with StoreKitTest as well.

[2020-12-14 21:10] tikhop commented on #73
Update from apple:

Unfortunately, they haven't provided anything helpful, and sounds like they don't know what the real issue is. We are still chatting, but they asked to write a bug report, which is, probably, waste of time, but I will do it anyway.

[2020-12-17 17:23] gubikmic commented on #71
I updated to macOS 11.1 and importing via SwiftPM works as expected.

[2020-12-17 17:23] #71 closed

[2020-12-22 21:44] tikhop commented on #71
@gubikmic Glad it works for you! Let me know if you have any questions/issues/ideas.

[2021-01-10 20:35] NameX44 commented on #72
Hi,

it think that I've a problem which seems to be related to this one on production build. Does someone know a way to get the receipt from a production app and analyse data in it ?

Thanks,

[2021-01-10 20:40] tikhop commented on #72
Hi @NameX44,

I think the only way is to have an api endpoint and when the app starts you can call that endpoint with a receipt (base64 string) attached.

[2021-01-14 01:16] tikhop commented on #73
Just got another email from apple and now they agree that it's a bug on their side and they are working on it.

[2021-01-18 11:21] DamienPetrilli commented on #74
Hi!

Running 3.0.2 and still getting the error message!

May be related to the network issue?

[2021-01-18 19:13] tikhop commented on #74
Hi @DamienPetrilli,

Might be the network issue, since the request times out and i think default request timeout is 60 sec, so you get that message about "SKReceiptRefreshRequest" first and then the error about request timeout. So, at the end we still call  `UIApplication.endBackgroundTask(_:)`.

I will check how it works for me.

[2021-01-18 19:45] tikhop commented on #73
Well, I've got another update from Apple. Now they suggest to use the current implementation:

"_For iOS apps on M1 hardware, please use UIDevice.current.identifierForVendor for receipt validation. Thanks!_"

Maybe they have fixed it already, but I don't think so.

[2021-01-20 09:41] DamienPetrilli commented on #74
It might be just when you use Xcode for IAP. I just wanted to make sure nothing was missed.

[2021-01-21 15:50] monish152 commented on #21
Is it working for objective c?

[2021-01-22 08:49] aalenliang commented on #73
I'll try to verify this weekend.

[2021-01-22 09:49] aalenliang commented on #73
It works! Local receipt verifies correctly using TPInAppReceipt installed from CocoaPods.

macOS: Version 11.1 (20C69)
Xcode: Version 12.3 (12C33)

[2021-01-22 12:33] tikhop commented on #73
@aalenliang Great! Thanks for checking. Sounds like they have really fixed it!

[2021-01-22 12:33] #73 closed

[2021-01-23 21:06] tikhop commented on #72
Hi @NameX44,

Have you got a chance to debug the receipt from a production build?

[2021-01-23 23:25] tikhop commented on #21
Hi @monish152,

I'm sorry, unfortunately, it doesn't work inside objc project

[2021-01-25 20:52] NameX44 commented on #72
Hi @tikhop,

Unfortunately no, I sent a TSI, they asked me to create a feedback: [https://feedbackassistant.apple.com/feedback/8975589](https://feedbackassistant.apple.com/feedback/8975589).

[2021-01-26 07:00] tikhop commented on #72
Got it — hope they will provide a valuable feedback.

[2021-01-27 05:57] HirenSensussoft007 opened #76 "Auto Renew is enable or not"
How can I get value of Auto renewable on/off from active purchases

[2021-01-28 00:03] tikhop commented on #76
Hi @HirenSensussoft007,

All active purchases are auto renewable.
If you want to check wether a purchase is auto renewable you can do:

[code]

[2021-02-02 10:12] HirenSensussoft007 commented on #76
@tikhop I think you didn't get my point
I mean is that If the user off the auto-renewing subscription from Settings then How can I get that status in App

Please help

[2021-02-02 10:27] HirenSensussoft007 opened #77 "@tikhop I think you didn't get my point"
@tikhop I think you didn't get my point
I mean is that If the user off the auto-renewing subscription from Settings then How can I get that status in App

Please help

_Originally posted by @HirenSensussoft007 in https://github.com/tikhop/TPInAppReceipt/issues/76#issuecomment-771526298_

[2021-02-02 11:24] tikhop commented on #76
@HirenSensussoft007

Well, I'm not sure that user can off the auto-renewing subscription. User can cancel the auto-renewing subscription, in that case you can check whether it's canceled or not.

[2021-02-03 06:47] HirenSensussoft007 commented on #76
@tikhop Yes, It's possible to off auto-renewing(recurring) subscription from settings.
Thats why I facing issue about that how can I get recurring status of product?

[2021-02-03 13:16] tikhop commented on #76
It’s not possible. You can either check whether a subscription is canceled or still active. If you cancel the subscription from settings then you will get an updated receipt where you can see that the subscription is canceled (not active anymore).

[2021-02-04 03:56] HirenSensussoft007 commented on #76
No,

[2021-02-08 10:38] #76 closed

[2021-02-08 16:27] Bo886 commented on #75
n

[2021-02-08 16:43] Bo886 commented on #75
n

[2021-02-08 17:25] Bo886 commented on #75
n

[2021-02-13 02:30] dev299 opened #78 "Is it expected to see 'Sign in with Apple ID' alert dialog while using TPInAppReceipt?"
Hello,

Thank you for this library. I encountered something strange that I have never encountered before, not in my regular iOS use. I am trying to understand if this is expected behavior.

In devices & simulators where Apple ID is already signed in & enabled, I am seeing the 'Sign in with Apple ID' alert dialog popping up after my app executes the following code.

        if let receipt = try? In

[2021-02-13 02:45] tikhop commented on #78
Hi @dev299,

As I know, refreshing in-app receipt triggers sign-in alert.
When you are running your app in sandbox mode (debug) for the first time you won't have in app receipt until you either refresh a local receipt or make a purchase. However, when you download the app from AppStore, receipt will be there.

[2021-02-13 11:08] dev299 commented on #78
I see. Thank you.

[2021-02-13 11:08] #78 closed

[2021-02-16 12:53] plananderson opened #79 "[Feature Request] offer_code_ref_name"
Please add this: https://developer.apple.com/documentation/appstorereceipts/offer_code_ref_name

[2021-02-16 12:56] plananderson commented on #79
UPDATE: Looks like it is not present in `receipt` 😏

[2021-02-16 12:56] #79 closed

[2021-02-17 15:01] tikhop commented on #79
Hi @plananderson,

You are right - unfortunately, there is a bunch of attributes we can't access locally.

[2021-03-03 17:20] ForceGT opened #80 "Using with StoreKit configuration file"
Hi I was testing In App Renewable Subscriptions using the StoreKit Configuration File
I would like to know if the receipt validation would be required in that case as I am using Revenue Cat for that and I keep getting "The receipt is not valid"
The purchase completes properly and just the receipt is not validated

[2021-03-03 17:55] tikhop commented on #80
Hi @ForceGT,

`TPInAppReceipt` doesn't validate signature of in app receipt when you are using StoreKit Configuration File and it uses a different certificate. How Revenue Cat works in this case I don't know, but sounds it doesn't work properly.

Related issue:
https://github.com/tikhop/TPInAppReceipt/issues/55

Here is more info:
https://developer.apple.com/wwdc20/10659

[2021-03-03 18:04] ForceGT commented on #80
I can stop using Revenue Cat but I would like to know how I can write code for the purchases that will execute during testing as well as during the actual deployment

Any tips for that?

[2021-03-03 18:12] tikhop commented on #80
If you just want to run different code in debug and production you can do smth like that:
[code]

If you have any other questions related to Revenue Cat then it's better to ask here then: https://github.com/RevenueCat/purchases-ios/issues

[2021-03-03 18:16] ForceGT commented on #80
Are you available for text on some other platform
I would like to ask some more questions

[2021-03-03 18:51] tikhop commented on #80
Feel free to ask here on github, If you have any questions related to `TPInAppReceipt`. Otherwise, I would recommend to use `http://stackoverflow.com`

[2021-03-03 18:51] #80 closed

[2021-03-09 07:00] yosshi4486 opened #81 "Active Compilation Condition Problem"
# About
Hi.

I found a problem about active compilation condition with SwiftPM. An application side's active compilation conditions are not refered without defining them in package side's Package.swift. It is describe is this swift forum post: https://forums.swift.org/t/compilation-conditions-and-swift-packages/34627

Additionally, I observed strange behavior of Xcode. When a Package.swift doesn't

[2021-03-24 06:58] macoapps commented on #75
same behavior here :( (Mac mini M1)

[2021-03-24 08:59] tikhop commented on #75
Hi @macoapps, I'm sorry, I just can't try it by myself, since I don't have an access to m1 machine.

Do you have a chance to check what's the right url on your machine and what comes from `Bundle.main.appStoreReceiptURL`?

Thanks,
Pavel

[2021-03-26 12:10] macoapps commented on #75
Hi @tikhop,
tried to print **appStoreReceiptURL** value in func **appStoreReceiptData(**), return **nil** with iPhone 12 simulator running on Mac mini M1.

Printing **Bundle.main.appStoreReceiptURL?.path** on AppDelegate gives me this :
-> using iPhone 12 Pro as simulator
nil

-> using My Mac M1 as simulator
![Capture d’écran 2021-03-26 à 13 09 25](https://user-images.githubusercontent.com/7191074

[2021-03-27 19:53] tikhop commented on #75
Hi @macoapps,

Thanks for providing extra information. Seems that it returns the right path for m1 device. For iPhone simulator it's always nil, since in-app receipt is only available on real device, that's why it's nil on iPhone simulator.

[2021-03-27 20:22] NameX44 commented on #72
Forgot to tell you that I got a response on the feedback and it seems to be fixed in the current beta. We will see on release :)

[2021-03-28 07:06] tikhop commented on #75
Hi @macoapps,

Thanks for providing extra information. Seems that it returns the right path for m1 device. For iPhone simulator, it can be `nil`, as I know, when you run the app for the first time (When user downloads the app from AppStore, the local receipt is available right away). In order to get a receipt on simulator you must make a purchase or refresh your receipt:

[code]

NOTE:  User gets

[2021-03-29 05:28] tikhop commented on #72
Awesome, thank you!

[2021-03-29 06:05] macoapps commented on #75
Hi @tikhop

Did a quick check, I think I found what was wrong. I kept my old StoreKitTestCertificate from my previous computer. I've generated a new one from my M1, and everything new seems to be fine 👍
Sorry for that !

[2021-03-29 06:17] tikhop commented on #75
Hi @macoapps,

No problem - glad it works for you now.

[2021-03-31 16:01] motocodeltd commented on #72
for what it's worth, storekittest started generating receipts to me with purchaseTime in BST (UTC+1) since daylight savings kicked in, which as far as I can tell is incorrect - purchaseTime should be in UTC. the TPInAppReceipt code is correct. In fact, I get a string like "2022-03-30T18:19:41Z". Z means UTC but that was generated by one of my tests and that time was actually UTC+1 not UTC. Seems l

[2021-04-03 18:45] Jerland2 opened #83 "Fatal Crash: Unexpectedly found nil while implicitly unwrapping an Optional value"
Version: TPInAppReceipt 3.1.0 using SPM
Setup: Testing in sandbox env using IAP configuration file.
Crash: Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value: file TPInAppReceipt/InAppReceipt+ASN1Decodable.swift, line 242

[code]

This causes application to crash on all subsequent runs after purchasing the first IAP.  Fatal error commented with "// FATAL ERROR OCCURS

[2021-04-03 19:14] tikhop commented on #83
Hi @Jerland2,

Thanks for the report, I'm looking into it. Could you please share your receipt (tikhop at gmail.com).

[2021-04-03 19:33] tikhop commented on #83
@Jerland2 Confirmed. I will push a fix in a few. Thanks again.

[2021-04-03 20:01] tikhop commented on #83
@Jerland2 Just updated cocoapods. Thanks again for the report.

[2021-04-03 20:01] #83 closed

[2021-04-12 09:06] MacMark opened #84 "Usage with Objective-C"
Hi all,

i try to use TPInAppReceipt with an Objective-C project via CocoaPods. The
@import TPInAppReceipt;
works but the compiler does not recognize/see the classes like InAppReceipt.

Because the TPInAppReceipt classes look public it should be possible. I'm probably doing it wrong. Can you please give me a hint?

Kind regards,
Markus

[2021-04-12 11:41] MacMark commented on #84
I see the TPInAppReceipt uses structs. Structs cannot be accessed by Objective-C as far as i know. Could you provide a small wrapper class that exposes "receipt.activeAutoRenewableSubscriptionPurchases"? :-)

[2021-04-13 23:46] tikhop commented on #84
Hi @MacMark,

The best I can do for now is to suggest to create an umbrella/wrapper file and expose properties you're looking for. I've created an example that you can improve by adding an extra functionality.

https://gist.github.com/tikhop/7d1215bbcea7fe8a3be3ce5ef25e15ee

Best,
Pavel

[2021-04-14 08:13] tikhop commented on #21
https://github.com/tikhop/TPInAppReceipt/issues/84#issuecomment-817739621

[2021-04-14 08:16] tikhop commented on #21
Hi @shaktiprakash099, @monish152

I’ve created an example of using the library inside objc project.

https://gist.github.com/tikhop/7d1215bbcea7fe8a3be3ce5ef25e15ee

[2021-05-05 19:44] Jerland2 opened #85 "Introductory Offer Support?"
Wondering if we can get introductory offer support by implementing the ability to check eligibility?

Each product returns whether it has an introductory offer tied to it.  However in order to check eligibility we must parse the receipt. (Hence the feature request)

This would entail parsing the receipt for `is_trial_period` as well as `is_in_intro_offer_period`.  If these values are equal to 1 so

[2021-05-05 20:53] Jerland2 commented on #85
Upon closer investigation into the TPA codebase a variable similar to `promotionalOfferIdentifier` from `receipt.purchases.first` except for introductory would suffice.  as described in the article snippet.  As if we can get an identifier tied to a product signifying if the user ever used an intro price then we can compare against list of products.  If a match is found we have determined the user

[2021-05-06 03:23] gongzhang opened #86 "Family sharing IAP support"
😄 Does TPInAppReceipt support reading the family sharing flag of a purchase or a subscription? This information is on the `in_app_ownership_type` property.

https://developer.apple.com/documentation/appstorereceipts/in_app_ownership_type

[2021-05-07 06:40] tikhop commented on #86
Hi @gongzhang, unfortunately, as I know, it’s not possible. Some fields of IAP receipt are not available in the local receipt and you can only read them using server-side receipt validation technique.

[2021-05-07 06:50] gongzhang commented on #86
@tikhop Thanks!

[2021-05-07 06:50] #86 closed

[2021-05-13 14:02] tikhop commented on #85
Hi @Jerland2,sorry for the late response, I've been off the grid for the last couple weeks and going to be online next week.

I think we can do it, but I need some time.

Thanks,
Pavel

[2021-05-17 17:25] tikhop commented on #85
Hi @Jerland2, I'm back and about to start working on it. I think, I will have something to try later today.

[2021-05-17 18:15] tikhop commented on #85
@Jerland2

I've pushed two new methods to check whether user is eligible for introductory offer into `feature/introductory-offer-support` branch.

Example:

[code]

I think we can also add a support to check whether the user is not eligible for any products within the same subscription group.

[2021-05-21 08:29] ungerc opened #87 "CryptoSwift files need update"
Hello,
due to xcode 12.5 the CryptoSwift files that are in use here `UInt` n`+Extension.swift` are throwing errors.
The fix is available in the CryptoSwift pod, and it is trivial.

thanks!
christian

[2021-05-21 10:44] tikhop commented on #87
Hi @ungerc, thanks for the report. I’ll check in a couple hours.

[2021-05-21 11:21] ungerc commented on #85
brilliant idea, we need it 🥇

[2021-05-21 15:01] tikhop commented on #87
Hi @ungerc, unfortunately, I can't reproduce the issue and we are not using CryptoSwift at all.

[2021-05-21 15:04] ungerc commented on #87
hey I installed via cocoapods
and I see three files
UInt16+Extension.swift
UInt32+Extension.swift
UInt64+Extension.swift
and they have a header that points to CryptoSwift

[2021-05-21 15:06] tikhop commented on #85
We will definitely have it, just need to check whether current implementation works well and if so I will merge it to master and then, I will implement checking whether the user is eligible for any products within the same subscription group.

[2021-05-21 15:15] tikhop commented on #87
Just tried to install using cocoapods and I don't see CryptoSwift and it works well.

[2021-05-21 15:18] ungerc commented on #87
strange, if I remove the files it still builds…

[2021-05-21 15:18] ungerc commented on #87
what am I doing wrong?

[2021-05-21 15:19] tikhop commented on #87
Are you sure you have the last version of the pod (3.1.1)?

[2021-05-21 15:19] tikhop commented on #87
Also, I'm not sure I have ever used CryptoSwift in the project

[2021-05-21 15:23] ungerc commented on #87
checking now

[2021-05-21 15:23] tikhop commented on #87
Regarding CryptoSwift, we were using it until version 3.0.0

[2021-05-21 15:24] ungerc commented on #87
ok, so this may be an explanation

[2021-05-21 15:30] ungerc commented on #87
`Installing TPInAppReceipt 3.1.1 (was 2.3.3)`
seems an outdated version… sorry, so I guess we  can close this issue

[2021-05-21 15:30] #87 closed

[2021-05-24 17:29] tikhop commented on #85
Hi @Jerland2, @ungerc

I've push code into `feature/introductory-offer-support` branch with support for checking whether user is eligible for any products within the same subscription group.

Basically, you can retrieve a subscription group from `SKProductsResponse` using an extension provided by the library and then check whether user is eligible or not:

[code]

I think, I will merge it into mas

[2021-05-24 19:01] ungerc commented on #85
cool, I have a day off today, will check tomorrow.

[2021-05-25 07:05] ungerc commented on #85
Hi @tikhop,
nice - looks good

[2021-05-25 07:11] tikhop commented on #85
@ungerc thanks for checking it out. I'm going to release it later today.

[2021-05-25 15:55] tikhop commented on #85
Just released it.

Thanks @Jerland2 and @ungerc.

[2021-05-25 15:55] #85 closed

[2021-05-25 15:59] tikhop commented on #84
Hi @MacMark,

Just released a new version [3.2.0](https://github.com/tikhop/TPInAppReceipt/releases/tag/3.2.0) and now it works in objc projects.

If you are using cocoapods just do:

[code]

Let me know if you have any questions or need some extra functionality.

[2021-05-25 15:59] #84 closed

[2021-05-25 16:00] tikhop commented on #21
Hi @shaktiprakash099, @monish152

Just released a new version [3.2.0](https://github.com/tikhop/TPInAppReceipt/releases/tag/3.2.0) and now it works in objc projects.

If you are using cocoapods just do:

[code]

Let me know if you have any questions.

[2021-05-25 17:29] #75 closed

[2021-05-25 17:30] #26 closed

[2021-05-26 06:40] ungerc commented on #85
thanks @tikhop,
forgive my ignorance but is there a necessity for you to update sth in the cocoapods repo in order for the version to appear there?

[2021-05-26 06:50] tikhop commented on #85
@ungerc I'm sorry — updating cocoapods right now.

[2021-05-26 07:02] tikhop commented on #85
@ungerc ✅

[2021-05-26 08:24] ungerc commented on #85
me again @tikhop 👋🏽,
this function
`func isEligibleForIntroductoryOffer(for group: SKSubscriptionGroup) -> Bool`
seems to be duplicated? - or am I holding it wrong?
I see it's guarded by `#if canImport(StoreKit)`  and an availability check, but I do not understand it.

[2021-05-26 12:44] ungerc opened #88 "version 3.2.0 compilation issue (already fixed in main)"
Extras.swift:162:19:
Extras.swift:225:19:
Extras.swift:236:19:

`let purchases = purchases.filter`
yields
`Pods/TPInAppReceipt/Sources/Extras.swift:236:19: variable used within its own initial value`
on our ci, probably due to an Xcode version older than 12.5/swift 5.4
this is already fixed in main
`let array = purchases.filter`

[2021-05-26 14:02] ungerc commented on #85
oh and it doesn't, now I get it - my head was in a very dark place

[2021-05-26 15:15] tikhop commented on #85
Yeah, It may seem like overengineering, but I tried to emphasize that the set of product identifiers must belong to the same subscription group.

[2021-05-27 05:39] ungerc commented on #88
@tikhop maybe I should phrase it as: would it be possible to release another version which contains these minor build fixes?
cheers, christian

[2021-05-27 06:35] tikhop commented on #88
@ungerc should be released within a few hours.

[2021-05-27 06:37] ungerc commented on #88
@tikhop thanks 🙏  very much appreciated

[2021-05-27 08:17] tikhop commented on #88
@ungerc ✅

[2021-05-27 18:29] ungerc commented on #88
🙏

[2021-05-28 05:03] #88 closed

[2021-07-16 18:24] tealshift opened #91 "Family sharing purchase not included in refreshed receipt"
Hi, I have one report of a user whose spouse had purchased the same IAP they are trying to register on their phone. The purchase function returns the alert:
<img width="421" alt="Screen Shot 2021-07-16 at 11 02 30 AM" src="https://user-images.githubusercontent.com/7879237/125990170-1a5dba6f-e1e5-4918-88e4-53c50e6f7c93.png">

However the refreshed receipt does not include the product they own via f

[2021-09-19 13:03] nneubauer opened #92 "Auto renewable subscription is user-cancelled (not support-cancelled?)"
Hi,

first of all -- thanks for making this library!

I a wondering if it is possible at the moment (probably not, then consider it a feature request) to determine for an auto renewable subscription if the customer has an active "auto renewal" or if they canceled the auto-renewal. In other words, their current subscription will still not be "expired" until the end of the current period, but after

[2021-09-19 13:31] nneubauer commented on #92
I am not sure what `cancellationDate` does. It seems in Apple's docs a cancellation is related to user-refunds and so am I interpreting that `hasActiveAutoRenewableSubscription` immediately returns false if this is present. Can you confirm that `cancellationDate` is not nil, if and only if there was a refund?

During testing, it seems that this is nil also on non-subscription IAPs like the docs sa

[2021-09-23 20:38] tikhop commented on #92
Hi @nneubauer, I'm sorry for the delay.

Based on docs `cancellationDate` is not nil when transaction was canceled by Apple customer support or auto-renewable subscription plan was upgraded.

Unfortunately, we can't check the current renewal status for the auto-renewable subscription because it's only presented  when validating with the App Store, in the JSON form of the receipt.

[2021-09-23 20:42] tikhop commented on #91
Hi @tealshift, I'm sorry, I totally missed your issue.

I don't know what can I do here, the library is just parsing the local receipt and it doesn't care whether the receipt is up-to-date or not.

[2021-09-23 20:44] tikhop commented on #72
@motocodeltd, @NameX44, @zsombornagy Seems like the issue has been fixed and nobody is complaining anymore — I'm closing it.

[2021-09-23 20:44] #72 closed

[2021-09-23 21:03] tealshift commented on #91
No problem. The answer provided in my link seems to do the trick.

[2021-09-23 21:04] tealshift commented on #91
Perhaps it would be worth including this info as a tip in the ReadMe?

[2021-09-23 21:47] tikhop commented on #91
Agree, I will include it.

[2021-09-23 21:47] #91 closed

[2021-09-24 12:52] nneubauer commented on #92
Thanks for your reply, I am still not sure about how to use it as the documentation of TPInAppReceipt says

[code]

Is that wrong then? Maybe -- if this is correct -- you might want to change it to

[code]

For my original question. That is unfortunate but if not possible, thanks for letting me know.

[2021-09-24 12:59] tikhop commented on #92
Thanks for making a point, I agree and going to change it.

[2021-09-25 11:42] #92 closed

[2021-10-26 18:23] Keane81 opened #93 "Refresh completion handler is not called if refreshSession is exist"
There is the method:
[code]
It will just silently return if refreshSession is already exists without completion handler calling.
Can you please check it?

[2021-10-31 07:56] apatait opened #94 "Objective C example code"
Hi

This is not an issue per se, but I could not find a way to communicate this and I thought it'll also help others in similar boat; hence posting here.

Do you have an example of using TPInAppReceipt library in an objective C project? Sample code on how to instantiate the class and call various methods would be great. Or if you have Objective C class documentation, that'd be great too.

I am not

[2021-11-01 17:17] tikhop commented on #94
Hi @apatait,

Unfortunately, I don't have an example, but you can use it in objc project.

Here you can find how to install it:
https://github.com/tikhop/TPInAppReceipt/blob/master/Documentation/UseInObjCProject.md

Here is a similar question:
https://github.com/tikhop/TPInAppReceipt/issues/84

Some old example that probably doesn't work anymore.
https://gist.github.com/tikhop/7d1215bbcea7fe8a3be3

[2021-11-01 17:18] tikhop commented on #93
Hi @Keane81, just released a fix.

[2021-11-01 19:20] Keane81 commented on #93
thank you, I'll update )

[2021-11-02 07:25] xabodog commented on #74
[BackgroundTask] Background Task 3 ("GDTStorage"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endBackgroundTask(_:) for your task in a timely manner to avoid this.

This problem occurred recently, and the console keeps printing.

[2021-11-02 07:26] xabodog commented on #74
version 8.6

[2021-11-14 22:25] #93 closed

[2021-11-14 22:25] #94 closed

[2021-11-25 17:09] ortekka opened #95 "Some methods are not callable from Objective-C"
It looks like the `InAppReceipt_Objc` wrapper class exposes only a subset of methods available in the `InAppReceipt` class.

For example, while `verify()` is available, and can be called from Objective-C in this way:

[code]
other methods such as `isEligibleForIntroductoryOffer()` are not exposed from the wrapper.

[2021-12-12 10:33] tikhop commented on #95
Hi @ortekka, thanks for reporting this. I will implement all missed functionality when I have a chance. Currently, objc wrapper is in low priority and if you need something quickly you are more than welcome to make a PR.

[2021-12-15 14:53] ortekka commented on #95
Hi Pavel,

Thanks for your reply.

I understand the ObjC wrapper is low priority for you.  In fact, I'm using TPInAppReceipt in a legacy project after successfully integrating it in a much more modern SwiftUI codebase.

Following your suggestions, I made a PR for the change I need:

	https://github.com/tikhop/TPInAppReceipt/pull/96/commits

This is my first PR ever, BTW, so please be patient if I

[2021-12-20 11:17] tikhop commented on #95
Hi @ortekka,

Just merged your PR and going to release new version. Thanks for your contribution.

[2022-02-15 11:39] #95 closed

[2022-02-18 05:26] thaya-cameraxis opened #97 "Clarification of Subscription Trial Period ASN.1 Field type"
Hi,

You have done a nice work.
I want to clarify about Subscription Trial Period ASN.1 Field type.

https://developer.apple.com/library/ios/releasenotes/General/ValidateAppStoreReceipt/Chapters/ReceiptFields.html#//apple_ref/doc/uid/TP40010573-CH106-SW1

Document say's:-
If a previous subscription period in the receipt has the value “true” for either the is_trial_period or the is_in_intro_offer_p

[2022-02-18 10:05] tikhop commented on #97
Hi @thaya-cameraxis,

Thanks for asking, unfortunately I don't remember precisely, but I assume thru extensive testing/debuging.

[2022-03-04 09:31] tungvustarglobal opened #98 "`activeAutoRenewableSubscriptionPurchases` returns empty if device time changes"
Hi,
I'm facing a weird issue that can be reproduce with the step bellow:
1. Change time in the device (to 2 hours in the future)
2. Buy a subscription (sanbox)
3. Buy succeeded
4. Get receipt `InAppReceipt.localReceipt().activeAutoRenewableSubscriptionPurchases`
5. The result is empty

Hope you can give me some advices

[2022-03-07 08:18] #98 closed

[2022-04-15 09:10] ghost opened #99 "Build failed for iOS Simulator"
When building for any iOS simulator on an M1 Mac, the following error occurs:

`Could not find module 'TPInAppReceipt' for target 'x86_64-apple-ios-simulator'; found: arm64-apple-ios-simulator, at: /Users/wizfinger/Library/Developer/Xcode/DerivedData/appname-bkfhgmponcvrxfawozdvxtgsikwn/Build/Products/Debug-iphonesimulator/TPInAppReceipt.swiftmodule`

(TPInAppReceipt_Objc has the same result).

Bu

[2022-04-15 15:28] tikhop commented on #99
@Wizfinger Unfortunately, I don't have m1 mac, but based on error it seems you are running x86_64 simulator (maybe rosetta is turned on). It compiles for arm64-apple which is m1, but you are asking for x86_64

[2022-04-15 17:28] Wizfinger commented on #99
Thanks I’ll have a look here: https://stackoverflow.com/questions/56957632/could-not-find-module-for-target-x86-64-apple-ios-simulator

looks like it can be fixed by adding some settings in the podspec or the swift package manager.

[2022-04-16 08:08] Wizfinger commented on #99
While experimenting, I have found more details:

[code]

As per [this answer](https://stackoverflow.com/a/66233165/923288), support for arm64 Simulator slices on M1 Macs should be added in order to allow building for the Simulator.

[2022-04-25 20:15] tikhop commented on #99
@Wizfinger I'm sorry for the delay, I've been traveling for the last two weeks and will be able to check it out in a week. If you know how to fix it — feel free to make a PR. Thank you.

[2022-07-06 09:49] sjvc opened #100 "Purchase cancellationDate is not only for renewable subscribtions"
Hello, and thank you for such great library.

The comment for cancellationDate says: Returns `nil` if the purchase is not a renewable subscription

But [the docs](https://developer.apple.com/library/archive/technotes/tn2413/_index.html#//apple_ref/doc/uid/DTS40016228-CH1-RECEIPT-HOW_DO_I_USE_THE_CANCELLATION_DATE_FIELD_) say that this field is designed for use with auto-renewable subscription, non

[2022-07-29 01:23] gongzhang opened #102 "[Catalyst] Failed to build in Xcode 14: 'kIOMasterPortDefault' is unavailable in Mac Catalyst"
Hello, I found `TPInAppReceipt` failed to build with Xcode 14 beta 4 when targeted to Mac Catalyst. The error is as below.

<img width="739" alt="image" src="https://user-images.githubusercontent.com/4470629/181663113-5c077e8b-bd11-4226-b3d1-a4dfd780168f.png">

I tried modified the deprecated `kIOMasterPortDefault` to `kIOMainPortDefault` but it does not seem to work.

<img width="739" alt="image"

[2022-07-29 09:20] tikhop commented on #102
Hi @gongzhang, I have just merged a related PR: https://github.com/tikhop/TPInAppReceipt/pull/101
Thanks for reminding me.

[2022-07-29 09:32] gongzhang commented on #102
@tikhop You're so quick. Thanks!

[2022-07-29 09:33] #102 closed

[2022-09-14 05:25] Jim3750 opened #103 "Compiled module was created by an older version of the compiler"
Hi,
I have been using TPInAppReceipt in my app "Pilot Log for Tesla" (thank you). I have had no issue so far.
However in Xcode (latest) I now get "Compiled module was created by an older version of the compiler; rebuild 'TPInAppReceipt' and try again". This appears as a "red" error, but the build is successful and the app runs normally.
Not sure the matter is on your side, but, I'd appreciate your

[2022-09-14 08:36] tikhop commented on #100
Hi @sjvc,
Sorry, I missed your issue. I don't remember why I wrote that comment. Have you got a chance to check whether it's wrong on not? Thank you!

[2022-09-25 08:11] Jim3750 commented on #103
Well, it appears to be happening only when building for the simulator. The message does not show up when using a real device.
Thks

[2022-09-30 09:03] tikhop commented on #103
@Jim3750 Might be some cache issue on your side, since the lib itself doesn't contain any pre-compiled binaries - just source code that you compile on your side.

[2022-09-30 09:06] tikhop commented on #100
@sjvc I wish I knew. I, mostly, work with auto-renewable subscriptions, but I will try someday to make sure how it really work. Thanks again for bringing it up.